<div class="home-content-view">
  <div class="well text-center" data-ng-if="loggedIn">
    <!-- TODO:Make this an alert! -->
    <p>Welcome {{user.name}}!</p>
  </div>
  <ul class="nav nav-tabs nav-justified">
    <li role="presentation" data-ng-class="{active:$state.current.name == 'home.dashboard'}"><a data-ui-sref="home.dashboard" data-toggle="tab">Dashboard</a></li>
    <li role="presentation" data-ng-class="{active:$state.current.name == 'home.topics'}"><a data-ui-sref="home.topics" data-toggle="tab">Topics</a></li>
  </ul>

  <div class="tab-content">

    <div class="tab-pane" data-ng-class="{active:$state.current.name == 'home.dashboard'}" id="dashboard" data-ui-view="dashboard">
      <!-- Where the farmer will be able to monitor the progress of his maize -->
    </div>

    <div class="tab-pane" data-ng-class="{active:$state.current.name == 'home.topics'}" id="topics" data-ui-view="topics">
      <!-- Here is where the different topics/guidelines will be displayed -->
    </div>

  </div>
</div>
