<div class="home-header-view">
  <nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ui-sref="home"><i class="fa fa-leaf fa-lg"></i>&nbsp;Maize Farming</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li data-ng-class="{active:$state.current.name == 'home' }"><a ui-sref="home"><i class="fa fa-home fa-fw fa-lg"></i>&nbsp;Home</a></li>
        <li data-ng-if="!loggedIn" data-ng-class="{active:$state.current.name == 'home.login' }"><a ui-sref="home.login"><i class="fa fa-sign-in fa-fw fa-lg" ></i>&nbsp;Login</a></li>
        <li data-ng-if="loggedIn"><a data-ng-click="logout()"><i class="fa fa-sign-out fa-fw fa-lg"></i>&nbsp;Logout</a></li>
        <li data-ng-class="divider"></li>
        <li data-ng-class="{active:$state.current.name == 'home.register' }"><a ui-sref="home.register"><i class="fa fa-user-plus fa-fw fa-lg"></i>&nbsp;Register</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div> <!-- / .container-fluid -->
</nav>
</div>
