<div class="topics-view">
  <accordion data-close-others="true">
    <!-- TODO:add icons to show that topic is open/is being viewed -->
    <accordion-group data-ng-repeat="topic in topics" is-open="topic.accordionStatus">
          <accordion-heading>
              {{topic.title}} <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': topic.accordionStatus, 'glyphicon-chevron-right': !topic.accordionStatus}"></i>
          </accordion-heading>
          {{topic.content}}
    </accordion-group>
  </accordion>
</div>
