/* For ngCloak */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

/*ui.bootstrap correction css*/
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.home-footer-view{
  padding:10px;
}

input.ng-invalid.ng-touched {
  border: 1px solid rgb(60, 160, 60);
}
input.ng-valid.ng-touched {
  border: 1px solid green;
}

.error{
  display:inline-block;
  margin-top:10px;
}
