<div class="login-view well">
  <div data-ng-if="loginRequired">
    <alert data-ng-repeat="alert in alerts"  type="{{alert.type.display}}" close="closeAlerts($index)">{{alert.msg}}</alert>
  </div>
  <form id="frm_login" name="frm_login" autocomplete="off" data-ng-submit="login(credentials)" novalidate>
    <div class="form-group">
      <label for="email">Email</label><br/>
      <input class="form-control" type="email" data-ng-model="credentials.email" data-ng-model-options="{ debounce: 500 }" name="email" id="email" required/>
      <div ng-show="frm_login.$submitted || frm_login.email.$touched">
        <span class="error text-danger" data-ng-show="frm_login.email.$error.required">Email Address Required!</span>
        <span class="error text-danger" data-ng-show="frm_login.email.$error.email">Invalid Email Address!</span>
      </div>
    </div>

    <div class="form-group">
      <label for="pass">Password</label><br/>
      <input class="form-control" type="password" data-ng-model="credentials.password" data-ng-model-options="{ debounce: 500 }" name="password" id="pass" required/>
      <div ng-show="frm_login.$submitted || frm_login.password.$touched">
        <span class="error text-danger" data-ng-show="frm_login.password.$error.required">Password Required!</span>
      </div>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Login</button>
    </div>
    <div class="form-group text-center">
      <p class="help-block">Don't have an account?</p>
      <a ui-sref="home.register">Register</a>
    </div>

  </form>

</div>
