<div class="register-view well">
  <form id="frm_register" name="frm_register" autocomplete="off" data-ng-submit="register(form_data)" novalidate>
    <div class="form-group">
      <label for="f_name">First Name</label><br/>
      <input class="form-control" data-ng-model="form_data.f_name" data-ng-model-options="{ debounce: 500 }" type="text" name="f_name" id="f_name" required/>
      <div ng-show="frm_register.$submitted || frm_register.f_name.$touched">
        <span class="error text-danger" data-ng-show="frm_register.f_name.$error.required">First Name Required!</span>
      </div>
    </div>

    <div class="form-group">
      <label for="l_name">Last Name</label><br/>
      <input class="form-control" data-ng-model="form_data.l_name" data-ng-model-options="{ debounce: 500 }" type="text" name="l_name" id="l_name" required/>
      <div ng-show="frm_register.$submitted || frm_register.l_name.$touched">
        <span class="error text-danger" data-ng-show="frm_register.l_name.$error.required">Last Name Required!</span>
      </div>
    </div>

    <div class="form-group">
      <label for="email">Email</label><br/>
      <input class="form-control" data-ng-model="form_data.email" data-ng-model-options="{ debounce: 500 }" type="text" name="email" id="email" required/>
      <div ng-show="frm_register.$submitted || frm_register.email.$touched">
        <span class="error text-danger" data-ng-show="frm_register.email.$error.required">Email Address Required!</span>
        <span class="error text-danger" data-ng-show="frm_register.email.$error.email">Invalid Email Address!</span>
      </div>
    </div>

    <div class="form-group">
      <label for="mobile_number">Mobile Number</label><br/>
      <div class="input-group">
        <span class="input-group-addon">+254</span>
        <input class="form-control" data-ng-pattern="/^7[0-9]{8}$/" data-ng-model="form_data.raw_mobile_number" data-ng-model-options="{ debounce: 500 }" type="number" name="mobile_number" id="mobile_number" required/>
      </div>
      <div ng-show="frm_register.$submitted || frm_register.mobile_number.$touched">
        <span class="error text-danger" data-ng-show="frm_register.mobile_number.$error.required">Phone Number required!</span>
        <span class="error text-danger" data-ng-show="frm_register.mobile_number.$error.number">Input is not a valid number!</span>
        <span class="error text-danger" data-ng-show="frm_register.mobile_number.$error.pattern">Input is not a valid Mobile Number!</span>
      </div>
    </div>

    <div class="form-group">
      <label>Gender</label><br/>
      <!-- TODO: see how you can use ngRequired to make this code better(that's if the directive actually exists) -->
      <div class="btn-group">
          <label  class="btn btn-primary" data-ng-model="form_data.gender" data-ng-model-options="{ debounce: 500 }" btn-radio="'male'" >Male</label>
          <label  class="btn btn-primary" data-ng-model="form_data.gender" data-ng-model-options="{ debounce: 500 }" btn-radio="'female'">Female</label>
      </div>
      <div ng-show="frm_register.$submitted || frm_register.gender.$touched">
        <span class="error text-danger" data-ng-show="frm_register.gender.$error.required">Gender Required!</span>
      </div>
    </div>

    <div class="form-group">
      <label for="password">Password</label><br/>
      <input class="form-control" data-ng-model="form_data.password" data-ng-model-options="{ debounce: 500 }" type="password" name="password" id="password" required/>
      <div ng-show="frm_register.$submitted || frm_register.password.$touched">
        <span class="error text-danger" data-ng-show="frm_register.password.$error.required">Password Required!</span>
      </div>
    </div>

    <div class="form-group">
      <label for="confirm_pass">Retype Password</label><br/>
      <input class="form-control" data-ng-model="form_data.confirm_password" data-ng-model-options="{ debounce: 500 }" data-pw-check="password" type="password" name="confirm_password" id="confirm_pass" required/><br/>
      <div ng-show="frm_register.$submitted || frm_register.confirm_password.$touched">
        <span class="error text-danger" data-ng-show="frm_register.confirm_password.$error.required">Password Confirmation Required!</span>
        <span class="error text-danger" data-ng-show="frm_register.confirm_password.$error.pwmatch">Passwords Don't Match!</span>
      </div>
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-primary">Register</button>
    </div>

    <div class="form-group text-center">
      <p class="help-block">Already have an account?</p>
      <a ui-sref="home.login">Login</a>
    </div>

  </form>
</div>
